.msi-bg-box {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
}

.msi-input-box {
    flex: 1;
    display: inline-block;
}

.msi-button-box {
    width: 100px;
    display: inline-block;
}

.msi-submit-button {
    width: 80px;
    margin-left: 15px;
}